/*MAIN*/
.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.btn-relieve {
    background-color: #2E8B57;
    color: white !important;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;

    box-shadow: 0 4px 0 #1b5233;
    transition: all 0.1s ease;
}

.btn-relieve:hover {
    background-color: #236b43 !important;
    color: #ffffff !important;
    transform: translateY(-2px);
    box-shadow: 0 6px 0 #1b5233;
}

.btn-relieve:active {
    background-color: #1b5233 !important;
    transform: translateY(2px);
    box-shadow: 0 2px 0 #1b5233;
}
/*MAIN*/
