/*MAIN*/
.contenedor-principal-seguimiento {
  max-width: 1000px;
  min-height: 45vh; 
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contenedor-principal-seguimiento .card{
  height: auto !important;
  min-height: fit-content;
  overflow: visible !important;
}

.titulo-seguimiento {
  font-family: 'Playfair Display', serif;
  color: #2E8B57;
}

.tarjeta-buscador {
  background-color: #FAFAFA;
  height: auto !important;
}

.input-seguimiento {
  border-color: #2E8B57;
}

.input-seguimiento:focus {
  border-color: #246B43;
  box-shadow: 0 0 0 0.25rem rgba(46, 139, 87, 0.25);
}

.btn-seguimiento {
  background-color: #2E8B57;
  color: #FFFFFF;
}

.btn-seguimiento:hover {
  background-color: #246B43;
  color: #FFFFFF;
}

.id-pedido {
  color: #2E8B57;
}

.badge-estado {
  background-color: #2E8B57;
  height: auto !important;
}

.contenedor-progreso {
  height: 10px;
  background-color: #E9ECEF;
}

.barra-progreso-fill {
  background-color: #2E8B57;
  width: 10%;
}

.subtitulo-seguimiento {
  color: #2E8B57;
}
/*MAIN*/
